<div class="container">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th colspan="2">ToDo List</th>
        </tr>
      </thead>
      <tbody>
        @for(todo of todoArray.getToDoList(); track todo; let i = $index){
        <tr>
          <td>
            <span>{{todo.title}}</span>
            <br>
            <span class="text-secondary">{{todo.date | date: "short"}}</span>
          </td>
          <td>
            <div class="float-end">
              <button class="btn btn-primary me-2" (click)="openEditPopup(i, todo)">Edit</button>
              <button class="btn btn-danger" (click)="todoArray.removeToDo(i)">Remove</button>
            </div>
          </td>
        </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <button class="btn btn-success me-2" (click)="openAddPopup()">Add</button>
            <button class="btn btn-danger" (click)="todoArray.clearToDo()">Clear</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>