<div class="container">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ToDo List</th>
        </tr>
      </thead>
      <tbody>
        @for(todo of todoArray.getToDoList(); track todo; let i = $index){
        <tr>
          <td>
            {{todo}}
            <button class="btn btn-danger float-end" (click)="todoArray.removeToDo(i)">Remove</button>
          </td>
        </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <td>
            <button class="btn btn-success me-2" (click)="openAddPopup()">Add</button>
            <button class="btn btn-danger" (click)="todoArray.clearToDo()">Clear</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>