<div class="p-4">
    <h2 mat-dialog-title>Add New Entry</h2>
    <div mat-dialog-content>
        <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
            <div class="form-floating mb-4">
                <input type="text" class="form-control" formControlName="title" placeholder="New Entry" required>
                <label for="todoEntry">New Entry</label>
            </div>
            <div class="form-floating mb-4">
                <input type="datetime-local" class="form-control" formControlName="date" required>
                <label for="dueDate">Due Date</label>
            </div>
            <div mat-dialog-actions>
                <button type="submit" class="btn btn-primary" [disabled]="!todoForm.valid">Submit</button>
                <button type="button" class="btn btn-danger float-end" (click)="closePopup()">Close</button>
            </div>
        </form>
    </div>
</div>